In [45]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [46]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ajdabiya,LY,2021-03-21 18:47:19,30.7554,20.2263,64.96,67,0,19.93
1,1,Narsaq,GL,2021-03-21 18:47:19,60.9167,-46.0500,26.60,68,75,11.50
2,2,New Norfolk,AU,2021-03-21 18:47:20,-42.7826,147.0587,59.00,73,17,2.15
3,3,Paamiut,GL,2021-03-21 18:47:20,61.9940,-49.6678,22.96,82,100,11.07
4,4,Georgetown,MY,2021-03-21 18:45:12,5.4112,100.3354,84.00,78,20,6.82

In [47]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [48]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [49]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [50]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure (center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
#Heatmap of percent wind
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure (center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [61]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Georgetown,MY,2021-03-21 18:45:12,5.4112,100.3354,84.00,78,20,6.82
17,17,Bathsheba,BB,2021-03-21 18:47:25,13.2167,-59.5167,84.20,54,20,20.71
29,29,Cabo San Lucas,MX,2021-03-21 18:47:29,22.8909,-109.9124,86.00,29,1,5.75
32,32,Rikitea,PF,2021-03-21 18:47:30,-23.1203,-134.9692,80.04,72,0,8.41
41,41,Arraial Do Cabo,BR,2021-03-21 18:47:33,-22.9661,-42.0278,87.80,65,20,20.71
46,46,Sao Joao Da Barra,BR,2021-03-21 18:47:35,-21.6403,-41.0511,86.00,62,20,11.50
47,47,Juba,SS,2021-03-21 18:46:49,4.8517,31.5825,85.35,46,100,4.76
48,48,Porto Novo,BJ,2021-03-21 18:47:36,6.4965,2.6036,84.20,79,20,11.50
62,62,San Cristobal,VE,2021-03-21 18:47:41,7.7669,-72.2250,84.20,61,20,11.50
66,66,Ternate,ID,2021-03-21 18:47:42,0.8000,127.4000,80.92,81,100,3.87

In [62]:
preferred_cities_df.count()

City_ID       78
City          78
Country       78
Date          78
Lat           78
Lng           78
Max Temp      78
Humidity      78
Cloudiness    78
Wind Speed    78
dtype: int64

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
4          Georgetown      MY     84.00   5.4112  100.3354
17          Bathsheba      BB     84.20  13.2167  -59.5167
29     Cabo San Lucas      MX     86.00  22.8909 -109.9124
32            Rikitea      PF     80.04 -23.1203 -134.9692
41    Arraial Do Cabo      BR     87.80 -22.9661  -42.0278
46  Sao Joao Da Barra      BR     86.00 -21.6403  -41.0511
47               Juba      SS     85.35   4.8517   31.5825
48         Porto Novo      BJ     84.20   6.4965    2.6036
62      San Cristobal      VE     84.20   7.7669  -72.2250
66            Ternate      ID     80.92   0.8000  127.4000

In [64]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [59]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.